*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100%;
    overflow-x: none;
    
    background-color: #dc8fdc;
    background-image: -webkit-linear-gradient(341deg, #dc8fdc 0%, #67b2bd 100%);
    background-image: -moz-linear-gradient(341deg, #dc8fdc 0%, #67b2bd 100%);
    background-image: -o-linear-gradient(341deg, #dc8fdc 0%, #67b2bd 100%);
    background-image: linear-gradient(341deg, #dc8fdc 0%, #67b2bd 100%);
    
}
.navcontainer{

    width: 100%;
    /* background-color: rgba(113,113,154,0.776); */
    background-color: #110f4a;
background-image: -webkit-linear-gradient(160deg, #110f4a 0%, #80D0C7 100%);
background-image: -moz-linear-gradient(160deg, #110f4a 0%, #80D0C7 100%);
background-image: -o-linear-gradient(160deg, #110f4a 0%, #80D0C7 100%);
background-image: linear-gradient(160deg, #110f4a 0%, #80D0C7 100%);

    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
nav{
    width: 100%;
}
.navlist{
    width: 100%;
    font-size: 2.5rem;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    color: white; 
}
#navitems{
    display: flex;
    gap: 40px;
}
a{
    text-decoration: none;
    color: azure;
    
}
#navlogo{
    font-size: 2.8 rem;
}
.footerbox{
    background-color: #110f4a;
    background-image: -webkit-linear-gradient(160deg, #110f4a 0%, #80D0C7 100%);
    background-image: -moz-linear-gradient(160deg, #110f4a 0%, #80D0C7 100%);
    background-image: -o-linear-gradient(160deg, #110f4a 0%, #80D0C7 100%);
    background-image: linear-gradient(160deg, #110f4a 0%, #80D0C7 100%);
    
   
    width: 100%;
    text-align: center;
    min-height: 40px;
}
.footerbox p{
    color: azure;
    font-size: 2rem; 
}
.contentbox{
    width: 70%;
  
    margin: auto;
    background-color: white;
    /* border: black 2px solid; */
    box-shadow:0px 0px 30px black;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
    justify-content: space-around;
}
.item{
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.rightbox{
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 10px #EC5800;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.rightbox img{
    height: 400px;
    border-radius: 20px;
    transition: all 0.6s linear 0s;

}
.rightbox:hover{
    transform: scale(1.1);
    
}
.leftbox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.leftbox h2{
    font-size: 1.5rem;
}
.leftbox h1{
    font-size: 3rem;
}
.ingridientbox{
    font-size: 1.3rem;
}
.recipebox{
    font-size: 1.1rem;
}
.rightbox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(39, 37, 36,0.714);
    border-radius: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s linear 0.3s;
    
}
.rightbox .overlay span{
    color: azure;
    font-size: 1.2rem;
}
.rightbox:hover .overlay{
    opacity: 1;
}
#navlogo{
    
}
span{
    color: #dc8fdc;
}